<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/update" method="post">
      <label for="update">Enter title to update</label>
      <input id="update" type="text" name="tit" />
      <input type="text" placeholder="Enter the title to update" name="title" />

      <input type="number" placeholder="Enter amount to update" name="amount" />
      <input
        type="category"
        placeholder="Enter category update"
        name="category"
      />
      <input type="date" placeholder="Enter date to update" name="date" />
      <button type="submit">submit</button>
    </form>
  </body>
</html>
